# Ignorer les fichiers d'objets et les fichiers de dépendances
*.o
*.a
*.so
*.out

/build/
/bin/
/obj/
/arm_bin/
*.log


.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/c_cpp_properties.json
